#play-list {
  table {
    background: black;
    width: 100%;

    tbody tr {
      &:hover {
        background: white;
        td, th {
          color: black;
        }
      }
    }
    th {
      color: white;
    }
    
    td {
      color: $foreground-colour;
    }
    
    td, th {
      padding: 5px 20px;
      text-align: left;

      &.number {
        text-align: right;
      }
    }
  }
}